 .main-footer{
	 
    left: 0;
    right: 0;
    bottom: 0;
    
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: beige;
	display:inline-blockblock
}
.center-blocks-footer{
	margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}
section {
	width:100%;
	display: inline-block;
	background:white;
	height:50vh;
	text-align:centre;
	font-size:700;
	text-decoration:ultra-expanded;
}
 

footer{

background:#ccc;

position:absolute;

bottom:0;

width:100%;

padding-top:50px;

height:50px;

}

  

footer{

background:#ccc;

position:absolute;

bottom:0;

width:100%;

padding-top:50px;

height:50px;

}

 
	
	