 #sidebar{
	 background-color :pink;
	 border:solid 2px white;
	 
	 float:right;
	 width:10%;
	 margin-left:10px;
 }
#sidebarimg{
	padding-top:20px;
}
contentWithSidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}